{% assign article_author = site.authors | where: "short_name", include.author | first %}

<p>
  Author: <a href="{{ article_author.url | relative_url }}">{{ article_author.name }}</a> - {{ article_author.position }}
  <img src="{{ article_author.image_url }}" alt="{{ article_author.name }}" height="50">
</p>