<section class="pj-author pj-author__main pj-author__hidden">
    <div class="pj-author__img">
        <img src="{{ author.image.path | relative_url }}" alt="{{ author.image.alt }}" />
    </div>

    <div class="pj-author__text">
        <h3 class="pj-author__text__name">{{ author.name }}</h3>
        <h4 class="pj-author__text__position">{{ author.position }}</h4>

        <div class="pj-author__text__bio">{{ author.content | markdownify }}</div>
    </div>
</section>