<header class="pj-hero">
  <div class="pj-hero__text">
    <h4>
      <a href="{{ category_archive.url | relative_url }}">
        {{ category_name }}
      </a>
    </h4>

    <h1>
      {% if page.category == "interviews" %}
        <span class="interviewee">{{ page.interviewee }}</span>
      {% endif %}

      {{ page.title }}
    </h1>

    <div class="pj-hero__data">
      <span class="pj-hero__data__date">
        {{ article_date }}
      </span>

      <span class="pj-hero__data__author">
        {% comment %} {{ author.name | prepend: t_authored_by }} {% endcomment %}
        {{ page.author | prepend: t_authored_by }}
      </span>
    </div>
  </div>

  <picture class="pj-hero__img">
    {% assign image_title = page.cover.caption | append: " | " | append: page.cover.credits %}
    
    <source media="(max-width: 768px)" srcset="{{ page.cover.mobile | relative_url }}">
    <img src="{{ page.cover.path | relative_url }}" alt="{{ page.cover.alt }}" title="{{ image_title }}" loading="eager">
  </picture>
</header>

