{% assign articles = site.articles | where:"volume-uid", page.volume-uid | where: "published", true | where:"locale", page.locale | sort: "article-order", "last" %}
{% assign t_previous_article = site.data.i18n[page.locale].pagination.previous %}
{% assign t_next_article = site.data.i18n[page.locale].pagination.next %}
{% assign t_interviewing = site.data.i18n[page.locale].pagination.interviewing %}
{% assign t_stories = site.data.i18n[page.locale].pagination.stories %}

{% for article in articles %}
  {% if article == page %}
    {% assign current_post_index = forloop.index0 %}

    {% if forloop.index0 > 0 %}
      {% assign previous_post_index = current_post_index | minus: 1 %}
      {% assign previous_post = articles[previous_post_index] %}
    {% endif %}

    {% if forloop.rindex >= 1 %}
      {% assign next_post_index = current_post_index | plus: 1 %}
      {% assign next_post = articles[next_post_index] %}
      {% endif %}

    {% break %}
  {% endif %}
{% endfor %}

{% if articles %}
  <ul class="pager grid">
    <li>
      {% if previous_post %}
        <a class="link"
           href="{{ previous_post.url | relative_url }}"
           title="{{ t_previous_article | append: ': ' | append: previous_post.title }}">

          <span class="link__icon link__icon-left">
            {% include svg/icon-arrow_left_big.liquid
                       alt=t_previous_article %}
          </span>

          <span class="link__label">
            {% if previous_post.interviewee && previous_post.interviewee != "" %}
              {{ t_interviewing | append: " " | append: previous_post.interviewee }}: 
            {% elsif previous_post.category == "stories" %}
              {{ t_stories }}: 
            {% endif %}
            
            {{ previous_post.title }}
          </span>
        </a>
      {% endif %}
    </li>

    <li>
      {% if next_post %}
        <a class="link link-right"
           href="{{ next_post.url | relative_url }}"
           title="{{ t_next_article | append: ': ' | append: next_post.title }}">

          <span class="link__label">
            {% if next_post.interviewee && next_post.interviewee != "" %}
              {{ t_interviewing | append: " " | append: next_post.interviewee }}: 
            {% elsif next_post.category == "stories" %}
              {{ t_stories }}: 
            {% endif %}

            {{ next_post.title }}
          </span>

          <span class="link__icon link__icon-right">
            {% include svg/icon-arrow_right_big.liquid
                       alt=t_next_article %}
          </span>
        </a>
      {% endif %}
    </li>
  </ul>
{% endif %}
