{% assign articles = site.articles | where:"journal-num", page.journal-num | where:"locale", page.locale | sort: "article-order", "last" %}

{% for article in articles %}
  {% if article == page %}
    {% assign current_post_index = forloop.index0 %}

    {% if forloop.index0 > 0 %}
      {% assign previous_post_index = current_post_index | minus: 1 %}
      {% assign previous_post = articles[previous_post_index] %}
    {% endif %}

    {% if forloop.rindex >= 1 %}
      {% assign next_post_index = current_post_index | plus: 1 %}
      {% assign next_post = articles[next_post_index] %}
      {% endif %}

    {% break %}
  {% endif %}
{% endfor %}

{% if articles %}

  <div class="card mb-3">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          {% if previous_post %}
            <a href="{{ previous_post.url | relative_url }}" title="next Post: {{previous_post.title}}">
              <div>
                <h6>
                  ← {{ site.data.i18n[page.locale].pagination.previous }}
                </h6>

                <h4>{{ previous_post.title }}</h4>
              </div>
            </a>
          {% endif %}
        </div>

        <div class="col text-end">
          {% if next_post %}
            <a href="{{ next_post.url | relative_url }}" title="next Post: {{next_post.title}}">
              <div>
                <h6>
                  {{ site.data.i18n[page.locale].pagination.next }} →
                </h6>

                <h4>{{ next_post.title }}</h4>
              </div>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
