{% assign t_skip_to_content = site.data.i18n[page.locale].global.skip_to_content %}
{% assign cms_title = "${cmsTitle}" %}
{% assign cms_volume_number = "${cmsVolumeNumber}" %}
{% assign cms_cover_image = "${cmsCoverImage}" %}


<section class="heroimage container-fluid grid">
  <div class="heroimage__text">
    <h4>#{{ page.volume-number | default: cms_volume_number }}</h4>
    <h1>{{ page.title | default: cms_title }}</h1>
  </div>

  <div class="heroimage__arrow">
    {% include svg/icon-arrow_down.liquid alt=t_skip_to_content %}
  </div>

  <div class="img-fullsize">
    {% capture cover_image_path %}{{ page.cover.path | relative_url }}{% endcapture %}
    <img src="{{ cover_image_path | default: cms_cover_image }}" alt="{{ page.cover.alt }}">
  </div>
</section>
