{% assign t_skip_to_content = site.data.i18n[page.locale].global.skip_to_content %}
{% assign cms_title = "${cmsTitle}" %}
{% assign cms_volume_number = "${cmsVolumeNumber}" %}
{% assign cms_cover_image = "${cmsCoverImage}" %}

{% capture cover_image_path %}{{ page.cover.path | relative_url }}{% endcapture %}
{% capture mobile_cover_image_path %}{{ page.cover.mobile | relative_url }}{% endcapture %}

<style>
  :root {
    --heroimage-background-image: url({{ cover_image_path }});
    --heroimage-mobile-cover-image: url({{ mobile_cover_image_path }});
  }
</style>

<section class="heroimage container-fluid grid">
  <div class="heroimage__text">
    <h4>#{{ page.volume-number | default: cms_volume_number }}</h4>
    <h1>{{ page.title | default: cms_title }}</h1>
  </div>

  <div class="heroimage__arrow heroimage__arrow_bottom">
    <a href="#main" title="Go to main content">
      {% include svg/icon-arrow_down.liquid alt=t_skip_to_content %}
    </a>
  </div>

  {% assign prev_number = page.volume-number | minus: 1 %}
  {% assign next_number = page.volume-number | plus: 1 %}
  {% assign prev_volume = site.volumes | where: "volume-number", prev_number | first %}
  {% assign next_volume = site.volumes | where: "volume-number", next_number | first %}

  {% if prev_number %}
    <div class="heroimage__arrow heroimage__arrow_prev">
      <a href="{{ prev_volume.url | relative_url }}" title="To previous volume {{ prev_volume.title }}">
        {% include svg/icon-arrow_down.liquid alt=t_skip_to_content %}
      </a>
    </div>
  {% endif %}

  {% if next_number %}
    <div class="heroimage__arrow heroimage_arrow_next">
      <a href="{{ next_volume.url | relative_url  }}" title="To next volume">
        {% include svg/icon-arrow_down.liquid alt=t_skip_to_content %}
      </a>
    </div>
  {% endif %}
</section>
