<section id="stories" class="pj-articles container-fluid">
  <div class="container grid">
    {% for article in articles_stories %}
      <article class="highlighted highlighted-fila{{ forloop.index }}" data-href="{{ article.url | relative_url }}">
        <div class="col1">
        {% assign category_archive = site.archives | where: "locale", page.locale | where: "category", article.category | first %}

          <h4>
            <a href="{{ category_archive.url | relative_url }}">
              {{ t_stories }}
            </a>
          </h4>

          <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}">
        </div>

        <div class="col2">
          <h3>{{ article.title }}</h3>

          <p>{{ article.description | prepend: "“" | append: "”" }} </p>

          <a href="{{ article.url | relative_url }}" class="link link-negative">
            <span class="link__label">
              {{ t_continue_reading }}
            </span>

            {% include svg/icon-arrow_right.liquid
                class="link__icon link__icon-right"
                alt=t_continue_reading %}
          </a>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
