{% assign articles_mixed = articles_blueprints
                 | concat: articles_deep_dives
                 | concat: articles_interviews
                 | uniq
                 | sort: "article-order", "last" %}

<section id="main" class="pj-articles container-fluid">
  <div class="container grid">
    {% for article in articles_mixed %}
      {% assign mod = forloop.index0 | modulo: 2 %}
        {% if mod == 0 %}
          <div class="row-articles">
        {% endif %}

        {% capture class %}
          highlighted-{% if mod == 0 %}vertical{% else %}horizontal{% endif %}
          highlighted-{{ article.category | slugify }}
        {% endcapture %}

        {% assign category_name = site.data.i18n[page.locale].categories[article.category] %}
        {% assign category_archive = site.archives | where: "locale", page.locale | where: "category", article.category | first %}

        <article class="highlighted {{ class }}" data-href="{{ article.url | relative_url }}">
          <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}" style="--aspect-ratio:1">

          <h4>
            <a href="{{ category_archive.url  | relative_url }}">{{ category_name }}</a>
          </h4>

          <h3>
            <a href="{{ article.url | relative_url }}">
              {% if article.category == "interviews" %}
                <span class="interviewee">{{ article.interviewee }}</span>
              {% endif %}
              {{ article.title }}
            </a>
          </h3>

          {% comment %} {% assign author = site.authors | where: "uid", article.author | where: "locale", page.locale | first %} {% endcomment %}

          {% comment %} <h5>{{ author.name | prepend: t_authored_by }}</h5> {% endcomment %}
          <h5>{{ article.author | prepend: t_authored_by }}</h5>
        </article>
      {% if mod != 0 %}
        </div> <!-- mod != 0  -->
      {% elsif forloop.last == true %}
        </div> <!-- forloop.last  -->
      {% endif %}
    {% endfor %}
  </div>
</section>
