<div class="container grid">
  {% for article in articles_stickers %}
    <article class="highlighted highlighted--fila{{ forloop.index }}">
      <a href="{{ article.url | relative_url }}">
        <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}" width="200px">

        <h3>{{ article.title }}</h3>

        <h5>{{ article.illustrator | prepend: t_authored_by | prepend: t_stickers }}</h5>
      </a>
    </article>
  {% endfor %}
</div>
