<section id="reports" class="pj-articles container-fluid">
  <div class="container grid">
    {% for article in articles_reports %}
      {% assign mod = forloop.index0 | modulo: 2 %}

      <article class="highlighted highlighted-fila{{ mod | plus: 1 }}" data-href="{{ article.url | relative_url }}">
        <div class="col1">
          {% assign category_archive = site.archives | where: "locale", page.locale | where: "category", article.category | first %}

          <h4>
            <a href="{{ category_archive.url | relative_url }}">
              {{ t_reports }}
            </a>
          </h4>

          <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}">
        </div>

        <div class="col2">
          <h3>{{ article.title }}</h3>

          <a href="{{ article.url | relative_url }}" class="link link-negative">
            <span class="link__label">{{ t_know_more }}</span>

            {% include svg/icon-arrow_right.liquid
                  class="link__icon link__icon-right"
                  alt=t_continue_reading %}
          </a>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
