{% assign privacy_page = site.pages | where: "uid", "privacy" | where: "locale", page.locale | first %}
{% assign more_info_url = privacy_page.url %}

{% assign title = "We want your consent" %}
{% assign subtitle = "We would like to use third party cookies and scripts to improve the functionality of this website." %}
{% assign approve_text = "Approve" %}
{% assign more_info_text = "More info" %}

<div id="cookie-notice" class="pj-cookie-notice" style="display: none;">
  <div class="pj-cookie-notice__img">
    <img src="/assets/media/cookies.png" alt="Cookies banner handshake image"/>
  </div>
  
  <div class="pj-cookie-notice__text">
    <h3 class="pj-cookie-notice__text__title">{{ title }}</h3>
    <span class="pj-cookie-notice__text__subtitle">{{ subtitle }}</span>
  </div>

  <div class="pj-cookie-notice__button">
    <a id="cookie-notice-accept" class="btn">
      <span class="btn__label">{{ approve_text }}</span>
    </a>
  </div>
  
  <div class="pj-cookie-notice__button">
    <a href="{{ more_info_url | relative_url }}" class="btn">
      <span class="btn__label">{{ more_info_text }}</span>
    </a>
  </div>
</div>
