<footer class="footer container-fluid">
  <p class="footer__copyright">
    {{ site.title }}
    <a rel="license"
       title="Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license"
       href="https://creativecommons.org/licenses/by-sa/4.0/"
       target="_blank">
      <small>cc-by-sa</small>
    </a> 
  </p>

  <nav class="footer__nav">
    <ul>
      {% if about_page.published %}
        <li>
          <a href="{{ about_page.url | relative_url }}">
            {{ about_page.title }}
          </a>
        </li>
      {% endif %}
      
      {% if together_page.published %}
        <li>
          <a href="{{ together_page.url | relative_url }}">
            {{ together_page.title }}
          </a>
        </li>
      {% endif %}
      
      {% if sticker_pack_page %}
        <li>
          <a href="{{ sticker_pack_page.url | relative_url }}">
            {{ sticker_pack_page.title }}
          </a>
        </li>
      {% endif %}
      
      {% if terms_page.published %}
        <li>
          <a href="{{ terms_page.url | relative_url }}">
          {{ terms_page.title }}
          </a>
        </li>
      {% endif %}
      
      {% if privacy_page.published %}
        <li>
          <a href="{{ privacy_page.url | relative_url }}">
            {{ privacy_page.title }}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</footer>
