<footer class="footer container-fluid">
  <p class="footer__copyright">
    <a rel="license"
       title="Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license"
       href="https://creativecommons.org/licenses/by-sa/4.0/"
       target="_blank">
      <small>cc-by-sa</small>
    </a> {{ site.title }}
  </p>

  <nav class="footer__nav">
    <ul>
      <li>
        <a href="{{ about_page.url | relative_url }}">
          {{ about_page.title }}
        </a>
      </li>

      <li>
        <a href="{{ terms_page.url | relative_url }}">
          {{ terms_page.title }}
        </a>
      </li>

      <li>
        <a href="{{ privacy_page.url | relative_url }}">
          {{ privacy_page.title }}
        </a>
      </li>

      <li>Build: <code>{% project_version %}</code></li>
    </ul>
  </nav>
</footer>
