<div class="header__volum">
  <a class="burger" status="on" href="">
    {% include svg/icon-close.liquid
        class="burger__icon-close burger__icon-close-left"
        alt=t_close %}

    {% include svg/icon-dots.liquid
        class="burger__icon-open burger__icon-open-left"
        alt=t_volumes_menu %}

    <span class="burger__label">
      {{ t_volumes_number }}
    </span>
  </a>

  <ul class="menu-volum">
    {% for volume in volumes %}
    <li>
      <a class="{% if volume.uid == current_volume.uid %} select {% endif%}"
          aria-label="{{ volume.title }}"
          href="{{ volume.url | relative_url }}">
        <img src="{{ volume.thumbnail | relative_url }}" alt="{{ volume.title }}" class="menu-volum__img">

        <div class="menu-volum__text">
          <h4 class="menu-volum__numero">
            {{ volume.volume-number | prepend: "#"}}
          </h4>

          <h3 class="menu-volum__titol">
            {{ volume.title }}
          </h3>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
