{% assign related_article_category_name = site.data.i18n[page.locale].categories[related_article.category] %}

<article class="highlighted highlighted-vertical {{ class }}" data-href="{{ related_article.url | relative_url }}">
  <img src="{{ related_article.cover.thumbnail | relative_url }}" alt="{{ related_article.cover.alt }}">

  <h4>
    <a href="{{ category_archive.url  | relative_url }}">{{ related_article_category_name }}</a>
  </h4>

  <h3>
    <a href="{{ related_article.url | relative_url }}">
      {% if related_article.category == "interviews" %}
        <span class="interviewee">{{ related_article.interviewee }}</span>
      {% endif %}
      {{ related_article.title }}
    </a>
  </h3>

  <h5>{{ related_article.author | prepend: t_authored_by }}</h5>
</article>