<article class="highlighted highlighted-vertical {{ class }}" data-href="{{ article.url | relative_url }}">
  <img src="{{ article.cover.thumbnail | relative_url }}" alt="{{ article.cover.alt }}">

  <h4>
    <a href="{{ category_archive.url  | relative_url }}">{{ category_name }}</a>
  </h4>

  <h3>
    <a href="{{ article.url | relative_url }}">
      {% if article.category == "interviews" %}
        <span class="interviewee">{{ article.interviewee }}</span>
      {% endif %}
      {{ article.title }}
    </a>
  </h3>

  {% assign author = site.authors | where: "uid", article.author | where: "locale", page.locale | first %}

  <h5>{{ author.name | prepend: t_authored_by }}</h5>
</article>