<form name="newsletter" netlify class="cta-box cta__newsletter">
  <div class="cta-box__img">
    <img src="{{ call_to_action.image.path | relative_url }}"
         alt="{{ call_to_action.image.alt }}">
  </div>

  <div class="cta-box__text">
    <h3>{{ call_to_action.title }}!</h3>

    <input type="hidden" name="lang" value="{{ page.locale }}">
    <input type="hidden" name="utm_source" value="{{ page.id }}">

      {{ call_to_action.content }}

      {{ call_to_action.form_fields }}
  </div>

  <div class="cta-box__cta">
    <button type="submit" name="button" class="btn btn--negatiu">
      <span class="btn__label">{{ call_to_action.button.label }}</span>
    </button>
  </div>
</form>
