<section class="pj-author">
    <div class="pj-author__img">
        <img src="{{ author.image }}" alt="{{ author.name }}" />
    </div>

    <div class="pj-author__text">
        <h3 class="pj-author__text__name">{{ author.name }}</h3>
        <h4 class="pj-author__text__position">{{ author.position }}</h4>

        <div class="pj-author__text__bio">{{ author.description }}</div>
    </div>
</section>