<section class="pj-file">
  <div class="pj-file__img">
    <img src="{{ image | relative_url }}" alt="{{ title }}"/>
  </div>
  
  <div class="pj-file__text">
    <span class="pj-file__text__title">{{ title }}</span>
    <span class="pj-file__text__data">{{ info }}</span>
  </div>

  <div class="pj-file__button">
    <a href="{{ file | relative_url }}" target="_blank" class="btn btn-negative">
      {% include svg/icon-download.liquid class="btn__icon" %}

      <span class="btn__label">{{ site.data.i18n[page.locale].global.download }}</span>
    </a>
  </div>
</section>
