<div class="cta-box">
  <div class="cta-box__img">
    <img src="{{ file.image.path | relative_url }}"
         alt="{{ file.image.alt }}">
  </div>

  <div class="cta-box__text">
    <h3>{{ file.title }}</h3>
  </div>

  <div class="cta-box__cta">
    {% if is_form %}
      <button type="submit" name="button" class="btn btn--negatiu">
        <span class="btn__label">{{ file.button.label }}</span>
      </button>
    {% else %}
      <a href="{{ file.button.link }}" target="_blank" class="btn btn--negatiu">
        <span></span>
        <span class="btn__label">
          {{ file.button.label }}
        </span>
      </a>
    {% endif %}
  </div>

{% if is_form %}
  </form>
{% else %}
  </div>
{% endif %}
