<section class="resource-box">
  <div class="resource-box__img">
    <img src="{{ image | relative_url }}" alt="{{ title }}"/>
  </div>
  
  <div class="resource-box__text">
    <h3>{{ title }}</h3>
    <h4>{{ info }}</h4>
  </div>

  <div class="resource-box__cta">
    <a href="{{ file | relative_url }}" target="_blank" class="btn btn--negative">
      {% include svg/icon-download.liquid class="btn__icon" %}

      <span class="btn__label">{{ site.data.i18n[page.locale].global.download }}</span>
    </a>
  </div>
</section>
